
.CodeMirror,
.CodeMirror-scroll {
    max-height: 300px;
}

.CodeMirror-fullscreen.CodeMirror {
    max-height: none;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
    max-height: none;
}

.CodeMirror-fullscreen {
	z-index: 12;
}

.editor-toolbar.fullscreen {
	z-index: 13;
}